@model IEnumerable<PlatformaWsparciaProjekt.Models.ShoppingListStatusViewModel>

<h2>Moje listy zakupów</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Data</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>
                    <a asp-controller="ShoppingList" asp-action="Items" asp-route-id="@list.ShoppingList.Id">
                        @list.ShoppingList.Title
                    </a>
                </td>
                <td>@list.ShoppingList.CreatedAt.ToShortDateString()</td>
                <td>@list.Status</td>
            </tr>
        }
    </tbody>
</table>
