@{
    ViewData["Title"] = "Strona Główna";
}

<p>Jesteś zalogowany jako: @User.Identity.Name</p>

<div class="text-center">
    <h1 class="hero-title">Platforma Wsparcia – Razem łatwiej!</h1>
    <p class="hero-subtitle">
        Łączymy seniorów z wolontariuszami, by codzienne życie stało się prostsze, bezpieczniejsze i pełne uśmiechu.
        Dołącz do nas i twórz dobro razem z innymi 💙
    </p>
</div>
